<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    {{ partial "head.html" . }}
</head>

{{ block "body" . }}
<body>
{{ end }}

<div class="container">
    {{ partial "header.html" . }}

    <div class="content">
        {{ block "main" . }}{{ end }}
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
</div>

{{ partial "javascript.html" . }}

<script>
    if (detectedSiteType.type === SiteType.BeeSubfolder) {
        // prepare posts images
        const images = document.querySelectorAll('.post-content img');
        images.forEach(item => {
            let src = item.getAttribute('src');
            if (src[0] === '/') {
                item.setAttribute('src', detectedSiteType.url + src);
            }
        });
    }
</script>
</body>
</html>
